<!-- Accordion 3 -->
<div class="accordion accordion-flush" id="accordionExample3">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{question.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                attr.data-bs-target="#collapse{{question.id}}" aria-expanded="false"
                attr.aria-controls="collapse{{question.id}}">
                <div [innerHtml]="question.img" style="color: slategrey; padding-right: 20px;"></div>
                {{question.title}}
            </button>
        </h2>
        <div id="collapse{{question.id}}" class="accordion-collapse collapse"
            attr.aria-labelledby="heading{{question.id}}" data-bs-parent="#accordionExample3">
            <div [innerHtml]="question.description" class="accordion-body">
            </div>
        </div>
    </div>
</div>