<div id="content" style="margin-left: 275px;" tabindex="-1">



    <div id="primary">
        <main id="main" class="site-main">
            <section style="padding: 30px 30px;">
                <div class="card">
                    <!-- Card title-->
                    <div class="card-header">
                        <h3 class="card_title"><img src="../../assets/img/icon/svg/help.svg" class="img-title" alt=""
                                srcset="">
                            Frequently Asked Questions</h3>
                    </div>
                    <!-- Card content-->
                    <div class="card-body">
                        <div class="col-md-6">
                            <div class="form col-md-6"> <i class="fa fa-search"></i> <input type="text"
                                    class="form-control form-input" placeholder="Search anything...">
                            </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <img src="../../assets/img/icon/pellegrini.webp" class="accordion-img-title"
                                            alt="" srcset="">
                                        Accordion Item #1
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <!-- Accordion 2 -->
                                        <div class="accordion accordion-flush" id="accordionExample2">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse2"
                                                        aria-expanded="false" aria-controls="collapse2"><img
                                                            src="../../assets/img/icon/pellegrini.webp"
                                                            class="accordion-img-title" alt="" srcset="">
                                                        Accordion Item #1
                                                    </button>
                                                </h2>
                                                <div id="collapse2" class="accordion-collapse collapse"
                                                    aria-labelledby="heading2" data-bs-parent="#accordionExample2">
                                                    <div class="accordion-body">
                                                        <!-- Accordion 3 -->
                                                        <div class="accordion accordion-flush" id="accordionExample3">
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="heading3">
                                                                    <button class="accordion-button collapsed"
                                                                        type="button" data-bs-toggle="collapse"
                                                                        data-bs-target="#collapse3"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapse3"><img
                                                                            src="../../assets/img/icon/pellegrini.webp"
                                                                            class="accordion-img-title" alt=""
                                                                            srcset="">
                                                                        FAQ - Accordion Item #1
                                                                    </button>
                                                                </h2>
                                                                <div id="collapse3" class="accordion-collapse collapse"
                                                                    aria-labelledby="heading3"
                                                                    data-bs-parent="#accordionExample3">
                                                                    <div class="accordion-body">
                                                                        <strong>This is the first item's accordion
                                                                            body.</strong> It is shown by default, until
                                                                        the collapse
                                                                        plugin adds the appropriate classes that we use
                                                                        to style each element. These classes control the
                                                                        overall
                                                                        appearance, as well as the showing and hiding
                                                                        via CSS transitions. You can modify any of this
                                                                        with
                                                                        custom CSS or overriding our default variables.
                                                                        It's also worth noting that just about any HTML
                                                                        can go
                                                                        within the <code>.accordion-body</code>, though
                                                                        the transition does limit overflow.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>