<div style="width: 100%">
    <div class="ticket fl-center">
        <section class="date">
            <time attr.datetime="{{day}}th {{month}}">
                <span>{{day}}</span><span>{{month}}</span>
            </time>
        </section>
        <section class="ticket-cont">
            <small>GIOVANNI LAMARMORA</small>
            <h3>{{ticket.subCategory}}</h3>
            <div class="even-date">
                <i class="fa-solid fa-arrows-rotate"></i>
                <time style="padding-left: 5px !important;">
                    <span>{{ticket.updated | date}}</span>
                </time>
            </div>
            <div class="even-info">
                <i class="fa-solid fa-circle-question"></i>
                <p style="padding-left: 5px !important;">
                    {{ticket.subject}}
                </p>
            </div>
            <button class="btn {{status}} btn-sm text-white" style="width: 150px; margin-top: 10px;">
                {{ticket.status}}</button>
        </section>
    </div>
</div>