<div id="content" style="margin-left: 275px;" tabindex="-1">
    <div id="primary">
        <main id="main" class="site-main">
            <section style="padding: 30px 30px;">
                <div class="card">
                    <!-- Card title-->
                    <div class="card-header">
                        <h3 class="card_title inline"><img src="../../assets/img/icon/svg/help.svg" class="img-title"
                                alt="" srcset="">
                            Dettagli Ticket #{{ticket.id}}</h3>
                        <div class="elementor-button-wrapper inline">
                            <a class="elementor-button-link elementor-button elementor-size-sm"
                                (click)="goToDashboard()" role="button">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Torna a FAQ</span>
                                </span>
                            </a>
                            <a class="elementor-button-link elementor-button elementor-size-sm" (click)="goToHistory()"
                                role="button">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Torna alla lista</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- Card content-->
                    <div class="card-body">
                        <app-details-info [ticket]="ticket"></app-details-info>
                        <div class="elementor-button-wrapper" style="margin-top: -80px; margin-right: 50px;">
                            <button class="btn btn-sm text-dark"
                                style="width: 200px; margin-top: 10px; background-color: #E9EFF3;">
                                Download Imported File</button>
                        </div>
                        <div style="margin-bottom: 50px;"></div>
                        <hr>
                        <app-chat-messages *ngIf="ticket.status == 'NEW'" [ticket]="ticket"></app-chat-messages>
                        <app-chat-messages-mock *ngIf="ticket.status != 'NEW'" [ticket]="ticket">
                        </app-chat-messages-mock>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>